<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>Error • Merrytron</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/style.css" media="screen">

    <style type="text/css">
        html { height: 100%; }

        #spin {
            margin: 0 auto;
            height: 300px;
            font-size: 250px;
            line-height: 400px;
            text-align: center;
        }
    </style>

</head><body>
    <div class="container">
        <h1>
            <a href="/"><img src="/static/merrytron.png" width="453" height="57" alt="Merrytron ❄ ❆ ❄"></a>
        </h1>

        <h2>Oops, an error occurred.</h2>

        <div id="spin">⛄</div>
    </div>

    <script type="text/javascript">
        function settitate(obj, key, value) {
            obj['-webkit-' + key] = value;
            obj['-moz-' + key] = value;
            obj['-o-' + key] = value;
            obj[key] = value;
        }
        function derp() {
            var $spin = document.getElementById('spin');

            settitate($spin.style, 'transition', 'all 0.0s linear');
            settitate($spin.style, 'transform', 'rotate(0deg)');
            setTimeout(function () {
                settitate($spin.style, 'transition', 'all 10.0s linear');
                settitate($spin.style, 'transform', 'rotate(360deg)');
            }, 10);
        }
        setInterval(derp, 10000);
        derp();
    </script>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50af8cc0f5a1f54d4900007e');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body></html>
