<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}Merrytron{% endblock %}</title>
    {% block htmlhead %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" media="screen">
    {% endblock %}
</head><body>

    <div class="container">
        <h1>
            <a href="/"><img src="{{ STATIC_URL }}merrytron.png" width="453" height="57" alt="Merrytron ❄ ❆ ❄"></a>
        </h1>

        {% block content %}{% endblock %}

        <div id="foot">
            <p><a href="/">The Merrytron</a> is an index of {{ total_count }} winter holiday songs for your seasonal enjoyment. All listed songs are worth the listed purchase price, so support these artists. Prices reflect the listed price at the linked store when added to the Merrytron.</p>

            <ul>
                <li><a href="{% url can_play %}">Playable streams</a></li>
                <li><a href="{% url download %}">Free downloads</a></li>
                <li>
                    <a href="{% url rated rated="unrated" %}">Unrated</a>
                    <a href="{% url rated rated="good" %}">Good ★</a>
                    <a href="{% url rated rated="great" %}">Great ★★</a>
                    <a href="{% url rated rated="best" %}">Best ★★★</a>
                </li>
            </ul>
        </div>
    </div>

    {% block htmlfoot %}
        <script src="{{ STATIC_URL }}jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    {% endblock %}
</body></html>
