<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}Merrytron{% endblock %}</title>
    {% block htmlhead %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" media="screen">
    {% endblock %}
</head><body>

    <div class="container">
        <h1>
            <a href="/"><img src="{{ STATIC_URL }}merrytron.png" width="453" height="57" alt="Merrytron ❄ ❆ ❄"></a>
        </h1>

        {% block content %}{% endblock %}

        <div id="foot" class="row">
            <div id="foot-inner">
                {% load humanize %}
                <p><a href="/">The Merrytron</a> is an index of <strong>{{ total_songs|intcomma }}</strong> winter holiday songs for your seasonal enjoyment. If you like these songs, support these artists. Prices reflect the listed price at the linked store when added to the Merrytron, so check for changes before buying. The Merrytron is by <a href="http://markpasc.org/mark/">markpasc</a> &amp; friends.</p>
            </div>
        </div>
    </div>

    {% block htmlfoot %}
        <script src="{{ STATIC_URL }}jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    {% endblock %}
</body></html>
