<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}Merrytron{% endblock %}</title>
    {% block htmlhead %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" media="screen">
    {% endblock %}
</head><body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img style="margin: -10px 0 -7px 0" src="{{ STATIC_URL }}merrytron.png" width="200"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'alpha' %}"><span class="glyphicon glyphicon-music"></span> All songs</a></li>
                <li><a href="{% url 'recent' %}"><span class="glyphicon glyphicon-time"></span> Recent</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">By type <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'playable' %}"><span class="glyphicon glyphicon-headphones"></span> Playable streams</a></li>
                        <li><a href="{% url 'download' %}"><span class="glyphicon glyphicon-download-alt"></span> Free downloads</a></li>
                        <li><a href="{% url 'classics' %}"><span class="glyphicon glyphicon-gift"></span> Classics &amp; standards</a></li>
                        <li><a href="{% url 'nontrad' %}"><span class="glyphicon glyphicon-leaf"></span> Non-traditional</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">By rating <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'rated' rated='good' %}">Good ★</a></li>
                        <li><a href="{% url 'rated' rated='great' %}">Good ★★</a></li>
                        <li><a href="{% url 'rated' rated='best' %}">Good ★★★</a></li>
                        <li><a href="{% url 'rated' rated='unrated' %}">Unrated</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div id="content" class="container">

        {% block content %}{% endblock %}

        <div id="foot" class="row">
            <div id="foot-inner">
                {% load humanize %}
                <p><a href="/">The Merrytron</a> is an index of <strong>{{ total_songs|intcomma }}</strong> winter holiday songs for your seasonal enjoyment. If you like these songs, support these artists. Prices reflect the listed price at the linked store when added to the Merrytron, so check for changes before buying. The Merrytron is by <a href="http://markpasc.org/mark/">markpasc</a> &amp; friends.</p>
            </div>
        </div>
    </div>

    {% block htmlfoot %}
        <script src="{{ STATIC_URL }}jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50af8cc0f5a1f54d4900007e');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body></html>
