{% extends "songs.html" %}

{% block htmltitle %}{% if page_obj and page_obj.number != 1 %}{{ title }} &bull; {% endif %}Merrytron{% endblock %}

{% block content %}

    <div id="first-row" class="row">
        <h3 class="span6">Latest ({{ latest_date|date:"j F" }})</h3>
        <div id="latest-albums" class="span12">
            {% for album in albums %}
                {% with album.artwork as art %}
                    <a href="{% url 'album' slug=album.slug %}" title="{{ album.title }}"><img class="cover" src="{{ art.url }}" width="{{ art.width }}" height="{{ art.height }}" alt=""></a>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h2 class="category span6">
            <a href="{% url 'alpha' %}"><span class="glyphicon glyphicon-music"></span></a>
            <a href="{% url 'alpha' %}">All songs</a>
        </h2>
        <h2 class="category span6">
            <a href="{% url 'recent' %}"><span class="glyphicon glyphicon-time"></span></a>
            <a href="{% url 'recent' %}">Recent additions</a>
        </h2>
    </div>
    <div class="row">
        <h2 class="category span6">
            <a href="{% url 'playable' %}"><span class="glyphicon glyphicon-headphones"></span></a>
            <a href="{% url 'playable' %}">Playable streams</a>
        </h2>
        <h2 class="category span6">
            <a href="{% url 'download' %}"><span class="glyphicon glyphicon-download-alt"></span></a>
            <a href="{% url 'download' %}">Free downloads</a>
        </h2>
    </div>
    <div class="row">
        <h2 class="category span6">
            <a href="{% url 'classics' %}"><span class="glyphicon glyphicon-gift"></span></a>
            <a href="{% url 'classics' %}">Classics &amp; standards</a>
        </h2>
        <h2 class="category span6">
            <a href="{% url 'nontrad' %}"><span class="glyphicon glyphicon-leaf"></span></a>
            <a href="{% url 'nontrad' %}">Non-traditional</a>
        </h2>
    </div>
    <div class="row">
        <h3 class="category rating-category span12">
            By rating:
            <a href="{% url 'rated' rated="good" %}">Good ★</a>
            <a href="{% url 'rated' rated="great" %}">Great ★★</a>
            <a href="{% url 'rated' rated="best" %}">Best ★★★</a>
            <a href="{% url 'rated' rated="unrated" %}">Unrated</a>
        </h3>
    </div>

{% endblock %}
