{% extends "base.html" %}

{% block htmltitle %}ohai{% endblock %}

{% block content %}

    <h1>Recent additions</h1>

    {% for song in songs %}
        {% ifchanged song.album.id %}
            <div class="album">
                {% with song.album.artwork as art %}
                    {% if art %}
                    <img class="cover" src="{{ art.url }}" width="{{ art.width }}" height="{{ art.height }}" alt="">
                    {% endif %}
                {% endwith %}
                <h2>{{ song.album.title }}{% if song.album.artist %} — {{ song.album.artist.name }}{% endif %}</h2>
            </div>
        {% endifchanged %}
        <div class="song">
            {% if song.track %}{{ song.track }}. {% endif %}
            {{ song.title }}
            {% if song.artist != song.album.artist %} — {{ song.artist.name }}{% endif %}
        </div>
    {% endfor %}

{% endblock %}
