{% extends "base.html" %}

{% block htmltitle %}{% if object %}{{ object }}{% else %}{{ title }}{% endif %} • {{ block.super }}{% endblock %}

{% block content %}

    <h2>{% if object %}{{ object }}{% else %}{{ title }}{% endif %}</h2>

    {% if page_obj and page_obj.number != 1 %}
        {% include "pager.html" %}
    {% endif %}

    {% for song in songs %}
        {% ifchanged song.added %}
            <h3>Added {{ song.added|date:"j M Y" }}</h3>
        {% endifchanged %}

        {% include "song.html" %}
    {% endfor %}

    {% include "pager.html" %}

{% endblock %}
