{% with song.album as album %}
    {% ifchanged album.id %}

        {% if not forloop.first %}
            </table></div>
        {% endif %}

        <div class="album">
            {% with album.artwork as art %}
                {% if art %}
                <a href="{% url 'album' slug=album.slug %}"><img class="cover" src="{{ art.url }}" width="{{ art.width }}" height="{{ art.height }}" alt=""></a>
                {% endif %}
            {% endwith %}

            <div class="album-title">
                <h3>
                    <a href="{% url 'album' slug=album.slug %}">{{ album.title }}</a>
                    {% if album.artist %}
                         —
                         {% if album.artist.num_songs > 1 %}
                            <a href="{% url 'artist' slug=album.artist.slug %}">{{ album.artist.name }}</a>
                        {% else %}
                            {{ album.artist.name }}
                        {% endif %}
                    {% endif %}

                    {% if album.buy_link %}
                        <a class="buy" href="{{ album.buy_link }}">
                            {% if album.price %}
                                Buy for {{ album.price }}
                            {% else %}
                                Download
                            {% endif %}
                        </a>
                    {% endif %}
                </h3>
            </div>
        </div>

        <div class="song"><table>

    {% endifchanged %}
{% endwith %}

<tr>
    <td class="track">
        {% if song.track %}{{ song.track }}{% endif %}
    </td>
    <td>
        {% if song.classic_id %}
            <a href="{% url 'classic' slug=song.classic.slug %}">{{ song.title }}</a>
        {% else %}
            {{ song.title }}
        {% endif %}

        {% if song.embed %}
            <a class="play" href="#" data-target="#play-song-{{ song.id }}" role="button" data-toggle="modal">Play</a>
            <div id="play-song-{{ song.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    {% autoescape off %}
                    {{ song.embed }}
                    {% endautoescape %}
                </div>
            </div>
        {% endif %}
    </td>
    <td>
        {% if song.artist != song.album.artist %}
            {% if song.artist.num_songs > 1 %}
                <a href="{% url 'artist' slug=song.artist.slug %}">{{ song.artist.name }}</a>
            {% else %}
                {{ song.artist.name }}
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if song.rating == 1 %}
            <a href="{% url 'rated' rated="good" %}">★</a>
        {% elif song.rating == 2 %}
            <a href="{% url 'rated' rated="great" %}">★★</a>
        {% elif song.rating == 3 %}
            <a href="{% url 'rated' rated="best" %}">★★★</a>
        {% endif %}
    </td>
    <td>
        {% if song.buy_link %}
            <a class="buy" href="{{ song.buy_link }}">
                {% if song.price %}
                    Buy for {{ song.price }}
                {% else %}
                    Download
                {% endif %}
            </a>
        {% endif %}
    </td>
</tr>

{% if forloop.last %}
    </table></div>
{% endif %}
